[submodule "lib/opencv"]
	path = lib/opencv
	url = https://github.com/opencv/opencv.git
[submodule "tools/host-tools"]
	path = tools/host-tools
	url = https://github.com/milkv-duo/host-tools.git
[submodule "lib/ncnn"]
	path = lib/ncnn
	url = https://github.com/Tencent/ncnn.git
